@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply list-none font-semibold border-solid hover:bg-pallette3
    }
    input {
        @apply rounded-md outline outline-1 outline-pallette1 text-pallette4 bg-pallette6
    }
    button {
        @apply bg-pallette2 rounded-md hover:bg-pallette3 outline-pallette4 font-semibold outline outline-1
    }
    span {
        @apply text-pallette6
    }
    p {
        @apply text-left w-fit px-1 text-pallette6 text-xs
    }
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }