@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply list-none font-semibold border-solid hover:bg-pallette3
    }
    input {
        @apply rounded-md outline-double outline-pallette4
    }
    
}